#status {
	position : absolute;
	top : 0px;
	width : 100%;
	text-align : right;
	border : 5px dashed #3c3c3c;
    background-color:#951616;
    div {
        display : inline-block;
        padding : 10px 20px;
        color : #e5e5e5;
        border-left : 1px solid lightGray;
        border-right : 1px solid lightGray;
        }
    div+div {
	    border-left : none;
            }
}