html * {
    /*font-size : 13pt;*/
    font-family :  'uni_05_53regular', "andale mono", "courier new", monospace;
}

h1 {
 font-size: 30pt;
 color:#cb1313;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}