html{height:100%}

* {
box-sizing: border-box;
}

body {
    height:100%;
    width:100%;
    position: absolute;
    top:0px;
}


/*-------------Menu de départ-------------*/
.menu {
	padding : 10px;
	margin : auto;
	margin-top : 100px;
	max-width : 600px;
	border : 1px solid lightGray;
    width:50%;
}

.menu button {
	display : block;
	font-size: 15pt;
	color : black;
	text-decoration : none;
	margin-top : 30px;

	border : none;
	cursor : pointer;
}



.menu button:hover::before, .menu button:hover::after{
content:"*";
}



/*---------------Barre de statut-------------*/
#status {
	position : absolute;
	top : 0px;
	width : 100%;
	text-align : center;
	border-bottom : 1px solid lightGray;
}

#status div {
	display : inline-block;
	padding : 10px 20px;
	color : gray;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
}
#status div+div {
	border-left : none;
}



/*--------------Menus en jeux---------------*/
.section {
    position:absolute;
    bottom:0px;
	padding : 10px;
	margin : none;
	margin-top : 100px;
	width : 100%;
	border : 1px solid lightGray;
}

.section#intro {
    position: relative;
	display : block;
}
.section button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : lightGray;
	border : none;
	cursor : pointer;
}
.section button+button  {
	margin-top : 10px;
}

.section button:hover {
	color : lightGray;
	background-color : black;
}


/*---------------Sélection de jeux-------------*/
#select-game {
	padding : 10px;
	margin : auto;
	margin-top : 100px;
	max-width : 600px;
	border : 1px solid lightGray;
}

#select-game button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : lightGray;
	border : none;
	cursor : pointer;
}

#select-game button:hover {
	color : lightGray;
	background-color : black;
}


/*----------------------Autres------------------*/
.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}

#inventory {
	float: left;
	width: 200px;
	height: 500px; 
	border : 1px solid lightGray;
	padding: 10px;
}

.credits {
	padding : 10px;
	margin : auto;
	margin-top : 100px;
	max-width : 600px;
	border : 1px solid lightGray;
}